<a href="https://colab.research.google.com/github/bala840211/read-me/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.DataFrame({'name':['Raphar', 'Donatello'],
                   'mask':['red', 'purple'],
                   'weapon':['sai', 'bo staff']})
df.to_csv("insex = False")

In [ ]:
import pandas as pd
df1 = pd.DataFrame([['a','b'],['c','d']],
                   index=['row 1','row 2'],
                   columns=['col 1', "col 2"])
df1.to_excel("output.xlsx")

In [ ]:
import pandas as pd
df = pd.DataFrame(('col1':[1,2],
                   'col2':[0.5,0.75]),
                  index=['row1','row2'])
df.to_dict()

SyntaxError: ignored

In [ ]:
!sudo apt-get remove git
!sudo apt-get install git

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  git-man liberror-perl
Use 'sudo apt autoremove' to remove them.
The following packages will be REMOVED:
  git
0 upgraded, 0 newly installed, 1 to remove and 12 not upgraded.
After this operation, 32.3 MB disk space will be freed.
(Reading database ... 146364 files and directories currently installed.)
Removing git (1:2.17.1-1ubuntu0.7) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  gettext-base git-daemon-run | git-daemon-sysvinit git-doc git-el git-email
  git-gui gitk gitweb git-cvs git-mediawiki git-svn
The following NEW packages will be installed:
  git
0 upgraded, 1 newly installed, 0 to remove and 12 not upgraded.
Need to get 3,915 kB of archives.
After this operation, 32.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 git amd64 1:2.17.1-1ubuntu0.7 [3,915 kB]
Fetched 3,915 kB in 1s (3,323 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package git.
(Reading database ... 145640 files and directories currently installed.)
Preparing to unpack .../git_1%3a2.17.1-1ubuntu0.7_amd64.deb ...
Unpacking git (1:2.17.1-1ubuntu0.7) ...
Setting up git (1:2.17.1-1ubuntu0.7) ...

In [ ]:
import pandas as pd
lis = [1,2,3]
df = pd.DataFrame(lis, columns =['value'])
df

   value
0      1
1      2
2      3

In [ ]:
!sudo apt get remove git
!sudo apt get install git

E: Invalid operation get
E: Invalid operation get

In [ ]:
！git remote add origin

SyntaxError: ignored

In [ ]:
t remote add origin https://"bala840211:jeff840211"github.com/bala840211?tab=repositories

SyntaxError: ignored

In [ ]:
i git add
i git commit-m"https://github.com/bala840211/read-me.git"

SyntaxError: ignored

In [ ]:
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

# New Section

# New Section

# New Section

In [ ]:
!git clone https://github.com/bala840211/read-me.git

Cloning into 'read-me'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.